<!DOCTYPE html>

<html>
<head>
	<base href="~/"/>
</head>
<body>
<a href="/mypage">my page</a> &bull; <a href="/counters">counters</a>
<hr/>
@RenderBody()
<script src="_framework/blazor.web.js"></script>
</body>
</html>