
<p>Bongolis.Client: @currentCount <button class="btn btn-primary" @onclick="IncrementCount">Click me</button></p>

@code {
    private int currentCount = 0;
    private void IncrementCount() => currentCount++;
}
