@page
@using RazorComponentProblems.Components
@using NodaTime
<h2>Albums</h2>
@{
var mode = RenderMode.ServerPrerendered;
var albums = new List<Album>() {
	new Album("Love Over Gold", "Dire Straits", new LocalDate(1982,9,24)),
	new Album("Invisible Touch", "Genesis", new LocalDate(1986,6,9)),
	new Album("Scarlet", "Doja Cat", new LocalDate(2023,9,22)),
};
}
@foreach (var album in albums)
{
	<p>@(await Html.RenderComponentAsync<AlbumRating>(mode, new { Album = album }))</p>
}
