@page
@using RazorComponentProblems.Components
<h2>Razor Component Weirdness</h2>
@{
	var items = new List<string> { "One", "Two", "Three" };
	var ben = new Person
			{
				Id = Guid.NewGuid(),
				Name = "Ben",
				Pets = [new Pet { Name = "Lionel " }, new Pet { Name = "Chudleigh" }]
			};
}
@(await Html.RenderComponentAsync<MyList>(RenderMode.ServerPrerendered, new { Items = items }))

@(await Html.RenderComponentAsync<MyList>(RenderMode.ServerPrerendered, new { Items = items }))

@(await Html.RenderComponentAsync<MyList>(RenderMode.ServerPrerendered, new { Items = items.Where(i => i.Length < 4) }))

@(await Html.RenderComponentAsync<MyList>(RenderMode.ServerPrerendered, new { Items = ben }))
