@page
@model IndexModel
<ul>
@foreach (var show in Model.Shows) {
	<a asp-action="Show" asp-controller="Tickets" asp-all-route-data="@show.RouteData">
		@show.HeadlineArtist.Name, @show.Venue.Name, @show.Date
	</a><br />
}
</ul>