@using Flubbery.Client.Models
@for (var i = 0; i < rating; i++) { <a class="filled-star" @onclick="Rate(i)">★</a> }
@for (var i = rating; i < 5; i++) { <a class="hollow-star"@onclick="Rate(i)">☆</a> }
&nbsp;
@Album.Title (@Album.Artist) @rating/5
@code {
	[Parameter] public Album Album { get; set; }
	private int rating = 4;

	private Action Rate(int rating) => () => this.rating = rating + 1;
}
